# DO NOT APPLY CHANGES TO THIS TEMPLATE
# 1. Create a copy of this template and store it as '.env'
# 2. Choose one of the following authentication methods:
#    a) Set ATLASSIAN_USERNAME to Atlassian account email address (e.g. mike.meier@company.de)
#       and ATLASSIAN_API_TOKEN to Atlassian token that can be created on https://id.atlassian.com/manage-profile/security/api-tokens
#    b) OR set ATLASSIAN_PAT (Personal Access Token)
# 3. Set ATLASSIAN_URL to your Atlassian instance URL (e.g. https://company.atlassian.net)

ATLASSIAN_USERNAME="work mail address"
ATLASSIAN_API_TOKEN="API token Test"
# ATLASSIAN_PAT="your-personal-access-token"
ATLASSIAN_URL="https://company.atlassian.net"